

.placar-E, .placar-D {
    width: 35px;
    text-align: center;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    /* width: 800px; */
}

/* thead,
.title {
    background-color: gray;
    color: white;
} */

th, td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
    font-size: 14px;
}

tbody>tr:nth-child(even) {
    background-color: rgba(202, 201, 201, 0.555);
}

tbody>tr:nth-child(odd) {
    background-color: white;
}

h3 {
    padding: 15px;
    font-size: 16px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.159);
    box-shadow: 1px 2px 7px black;
}

.linha {
    color: rgba(128, 128, 128, 0.01);
    box-shadow: 1px 2px 7px;
}

#centroA {
    border: 1px solid rgba(96, 96, 96, 0.311);
}

#apostas {
    margin-top: 10px;
}

#inputNome {
    width: 75%;
}

#aposteA {
    border: 1px solid black;
    display: inline-block;
    width: 85%;
    align-items: flex-end;
}

#aposteB {
    border: 1px solid black;
    width: 85%;
    display: inline-block;
}
