.apostas {
    
}

.placar-E, .placar-D {
    width: 35px;
    text-align: center;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    /* width: 800px; */
}

caption {
    font-size: 1.2em;
    font-weight: bolder;
    padding: 20px;
}

thead,
.title {
    background-color: gray;
    color: white;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

tbody>tr:nth-child(even) {
    background-color: rgba(202, 201, 201, 0.555);
}

tbody>tr:nth-child(odd) {
    background-color: white;
}


#Q {
    border: 1px solid black;
    width: 50px;
}

#T {
    border: 1px solid black;
    height: 50px;
    
}