@charset "UTF-8";

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

/* 
https://developer.mozilla.org/pt-BR/docs/Learn/Getting_started_with_the_web
*/